name: Update Flake

on:
  schedule:
    # every day at 8am UTC
    - cron: '0 8 * * *'
  workflow_dispatch:
jobs:
  updates:
    name: "Update the flake.lock"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 0
    - uses: cachix/install-nix-action@v19
    - name : 'flake.lock: Update'
      run: |
        git config user.name 'github-actions'
        git config user.email 'action@github.com'
        nix flake update --commit-lock-file
        git push
